.listing {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /*just for pen positioning*/
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
}
